<h2>User:</h2>

<p><%= @user.first_name %> <%= @user.last_name %></p>

<p><%= @user.email %></p>

<%= link_to 'Edit user', edit_user_path(@user) %>
<br><br>
<%= link_to 'View all libraries', libraries_path %>
<br><br>
<%= link_to 'View my libraries', user_libraries_path(@user) %>
<br><br>
<%= link_to 'Log out', logout_path %>
